.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-image{
  width:  100px;
  height: 150px;
  object-fit: scale-down;
  margin: 0 auto;
  display: block;
}
.content-card{
  width: 20%;
  display: inline-grid;
  margin: 2%;
  text-align: center;
}
h3{
  font-size: 14px;
  margin: 10px;
}
p{
  font-size: 12px;
  margin: 0;
}
h4{
  display: inline-block;
  width: 10%;
}
/* .content-details{
  background-color: black;
  width: 100%;
  color: white;
} */
/* .details-image{
  width: 20%;
  display: inline-grid;
  margin: 2%;
  text-align: center;
} */
/* .card-container{
  position: relative;
} */
.hide-content-card{
  background-color: black;
  margin: auto;
  color: white;
  width: 50%;
  padding:5px;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit]{
  width: 100%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

