#root {
  background: linear-gradient(to right, #000000, #1b1b1b, #040404);
  color: white;
}
#home.active, .fa-circle-plus.active{
  /* margin: 20px; */
  background:-webkit-linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 35%, rgba(210,172,71,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#home{
  margin: 20px;
  color: white;
}
.nav-logo{
  height: 13px;
  width: auto;
}
.nav-right{
  float: right;
  width: 45%;
}
.nav-left{
  display: inline-block;
  width: 45%;
}
.search{
width: 74%;
display: inline-block;
}

.fa-circle-plus{
  display: inline-block;
  color: white;
  font-size: 20px;
}
.input-search{
  width: 85%;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  background: transparent;
  border: 1px solid #424242;
}
.streamingButton{
  padding: 12px 35px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.netflixButton{
  background: linear-gradient(to right, #E50914, #B81D24);
  color: white;
}
.huluButton{
  background-color: #1ce783;
  color: black;
}
.hboButton{
  background: linear-gradient(to right, rgb(148, 29, 232), rgb(122, 107, 226), rgb(123, 167, 242));
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fa-play{
  margin-right: 10px;
}
.navbar{
  width: 98%;
  margin: 0 auto;
}

.card-image{
  width:  100%;
  height: 170px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-radius: 5px 5px 0px 0px;
}
.content-card{
  width: 150px;
  display: inline-grid;
  margin: 1%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(25, 22, 15);
  border-radius: 5px;
  height: 250px;
  filter:drop-shadow(16px 16px 10px black);
  -webkit-transition: transform 0.25s ease-in-out;
  vertical-align: middle;
}
.content-card:hover{
  transform: scale(1.1);
}

.arrow{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow-button{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  vertical-align: middle;
  background-color: rgba(25, 22, 15);
  filter:drop-shadow(16px 16px 10px black);
  border: 0;
  transition: transform 0.25s ease-in-out;
  -webkit-transition: transform 0.25s ease-in-out;
  cursor: pointer;
}
.arrow-button:hover{
  transform: scale(1.3);
}
h2{
  margin: 20px;
}
h3{
  font-size: 14px;
  margin: 10px;
}
p{
  font-size: 12px;
  margin: 0;
}
h4{
  display: inline-block;
}
.content-details-container{
  background-color: rgba(0,0,0,0.9);
  padding-top: 100px;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.content-details-title{
  display: none;
}
.trailer-clip{
  display: inline-block;
  vertical-align: middle;
}
.details{
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  text-align: left;
  margin-left: 30px;
}
.content-details{
  width: 80%;
  margin: 0 auto;
}
.streaming-info{
  font-weight: 700;
}
.details-title{
  font-size:18px;
}
.content-info{
  font-size: 14px;
  margin: 10px;
}
.trailer{
  width: 400px;
  height: 300px;
  border: none;
}
.navLink{
  margin: 20px;
}
.hbo-link.active{
  /* padding-bottom: 10px;
  border-bottom: 2px solid blue; */
  content: url("./Assets/HBO_Max_logo.png");
  height: 13px;
  width: auto;
  margin-bottom: 0px;
}
.hulu-link.active{
  /* padding-bottom: 10px;
  border-bottom: 2px solid green; */
  content: url("./Assets/Hulu_Logo.png");
  height: 13px;
  width: auto;
  margin-bottom: 0px;
}
.netflix-link.active{
  /* padding-bottom: 10px;
  border-bottom: 2px solid red; */
  content: url("./Assets/Netflix_Logo.png");
  height: 15px;
  width: auto;
  margin-bottom: 0px;
}
a{
  color:black;
  text-decoration: none;
  /* margin: 20px; */
}
input:focus{
  color:white;
}

.filterCategory{
  width: 80px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #424242;
  color: #bdbdbd
}
.content-details-image{
  display: none;
}
.card-container{
  width: 98%;
  margin: 0 auto;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  margin: 8px 0;
  border: 1px solid #424242;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #212121;
  color: #bdbdbd;
}

input::placeholder, textarea::placeholder{
  font-family: Arial, Helvetica, sans-serif;
}

button[type=submit]{
  width: 100%;
  background: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 35%, rgba(210,172,71,1) 100%);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container{
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  /* background-color: #f2f2f2; */
  padding: 20px;
}
textarea:focus{
  font-family: Arial, Helvetica, sans-serif;
}
/* .form-input:focus{
  color: black;
} */

/* input, textarea, select{
  color:white;
  border: 1px solid #424242;
  background-color: #212121;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

