*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #000000, #1b1b1b, #040404);
    font-family: Arial, Helvetica, sans-serif;
}
#root {
  color: white;
}
#home.active, .fa-circle-plus.active{
  background:-webkit-linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 35%, rgba(210,172,71,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#home{
  margin: 20px;
  color: white;
}
.nav-logo{
  height: 15px;
  width: auto;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
}
#nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  column-gap: 30px;
}
#nav-search{
  display: flex;
  align-items: center;
}
#mobile i {
  color: white;
}
#mobile{
  display: none;
}
.media-container{
  width: 95%;
  margin: 50px auto;
}
.details{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}
form{
  display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.see-more{
  font-size: 12px;
  font-style: normal;
  background:-webkit-linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 35%, rgba(210,172,71,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.edit{
  font-size: 12px;
  font-style: normal;
  background:-webkit-linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 35%, rgba(210,172,71,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-circle-plus{
  display: inline-block;
  color: white;
  font-size: 20px;
}
.input-search{
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  background: transparent;
  border: 1px solid #424242;
  color: white;
}
.streamingButton{
  padding: 12px 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.netflixButton{
  background: linear-gradient(to right, #E50914, #B81D24);
  color: white;
}
.huluButton{
  background-color: #1ce783;
  color: black;
}
.hboButton{
  background: linear-gradient(to right, rgb(148, 29, 232), rgb(122, 107, 226), rgb(123, 167, 242));
  color: white;
}
.fa-play{
  margin-right: 10px;
}
.card-image{
  width:  100%;
  height: 170px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-radius: 5px 5px 0px 0px;
}
.content-card{
  width: 140px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: #222222;
  border-radius: 5px;
  height: 250px;
  filter:drop-shadow(16px 16px 10px black);
  -webkit-transition: transform 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-card:hover{
  transform: scale(1.1);
}
.fa-circle-chevron-left, .fa-circle-chevron-right{
  font-size: 24px;
  filter:drop-shadow(16px 16px 10px black);
  transition: transform 0.25s ease-in-out;
  -webkit-transition: transform 0.25s ease-in-out;
  cursor: pointer;
}
.fa-circle-chevron-left:hover, .fa-circle-chevron-right:hover{
  transform: scale(1.3);
}

h2{
  margin: 20px;
}
h3{
  font-size: 12px;
  color: white;
}
p{
  font-size: 12px;
}
h4{
  display: inline-block;
}
#media-info{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.content-details{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  column-gap: 20px;
}
.streaming-info{
  font-weight: 700;
}
.details-title{
  font-size:18px;
}
.content-info{
  font-size: 14px;
}
.trailer{
  width: 500px;
  height: 300px;
}
a{
  color:black;
  text-decoration: none;
}
input:focus{
  color:white;
}
.filterCategory{
  width: 80px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #424242;
  color: #bdbdbd
}
.content-details-image{
  display: none;
}
.card-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  margin: 8px 0;
  border: 1px solid #424242;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #212121;
  color: #bdbdbd;
  font-family: Arial, Helvetica, sans-serif;
}
input::placeholder, textarea::placeholder{
  font-family: Arial, Helvetica, sans-serif;
}
button[type=submit]{
  width: 100%;
  background: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 35%, rgba(210,172,71,1) 100%);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-container{
  border-radius: 5px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
textarea:focus{
  font-family: Arial, Helvetica, sans-serif;
}
.mobileBtns{
  display: none;
}

@media only screen and (max-width: 999px) and (min-width: 800px){
  .content-card{
    width: 100px;
  }
}
 

@media only screen and (max-width: 799px){
  
  #nav-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #222222;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 35px;
    z-index: 1;
    transition: 0.3s ease-in-out;
    margin: 0;
    row-gap: 30px;
  }
  #mobile{
    display: block;
    margin: 0px 20px;
  }
  #mobile i{
    font-size: 24px;
    cursor: pointer;
  }
  #nav-right.active{
   right: 0px;
  }
  .content-details{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    row-gap: 50px;
  }
  .trailer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .trailer-clip{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .media-container{
    position: relative;
  }
  .arrow-button{
    display: none;
  }
  .back{
    margin-right: 40px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
  }
  .content-card{
    flex-grow: 2;
    width: 190px;
  }
  .genre-header, .mobileBtns {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  .arrow{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}